<ion-content class="product-content">
  <div class="container-body order-wrapper">
    <h2 class="section-title">Mis pedidos</h2>
    <div class="wrapper2" #wrapper *ngIf="showData">
      @for(order of ordersList; track order.product.id; let idx = $index) {
      <div class="item-p productsItem">
        <ion-icon
          [routerLink]="[]"
          class="icons-show order-delete"
          name="trash-outline"
          size="medium"
          (click)="deleteItem(order)"
        ></ion-icon>
        <picture class="image-container-p">
          <img [src]="imagesUrl$[idx] | async" alt="" class="item-image" />
        </picture>
        <article>
          <span class="title" *ngIf="isProduct(order)">
            {{ castProduct(order.product).name }}
          </span>
          <span class="title" *ngIf="!isProduct(order)">
            {{ order.product.description }}
          </span>
          <div class="order-info">
            <div class="price">
              ${{ order.product.price! * order.product.quantity! }}
            </div>

            <div class="quantity">
              <ion-icon
                name="remove-circle"
                class="quantity-icons"
                (click)="decrement(order.product)"
              ></ion-icon>
              <span>{{ order.product.quantity }}</span>
              <ion-icon
                name="add-circle"
                class="quantity-icons"
                (click)="increment(order.product)"
              ></ion-icon>
            </div>
          </div>
          <div>
            <span class="comments" *ngIf="order.comments">
              <b>Aclaración:</b> {{ order?.comments }}</span
            >
          </div>
        </article>
      </div>
      }
    </div>
    <span *ngIf="showData" class="total">Total: ${{ total }}</span>
    <ion-button
      *ngIf="showData"
      expand="full"
      class="details-button order-button"
    >
      <div>
        <ion-icon name="cart" class="details-icons"></ion-icon>
        <p>
          {{ 'CONFIRMAR PEDIDO' }}
        </p>
      </div>
    </ion-button>
  </div>
</ion-content>
