<div class="usersListContainer">
  @if(!loading && !!data.length){
  <div class="actionsContainer">
    <app-search
      id="search-filter"
      (searchChanged)="filtrarUsuarios($event)"
      placeholder="Buscar usuario..."
    ></app-search>
    <button class="buttonSearch" (click)="busquedaFiltrada()">
      <ion-icon class="actionIcon" name="search-outline"></ion-icon>
    </button>
    <button class="buttonAdd" (click)="agregarUsuario()">
      <ion-icon class="actionIcon" name="person-add-outline"></ion-icon>
    </button>
  </div>
  <app-table
    class="table"
    [columns]="columns"
    [data]="data"
    [loading]="loading"
  />
  <div class="pagination">
    <app-pagination
      [currentPage]="pageIndex"
      [totalPages]="totalPages"
      [limit]="pageSize"
      (changePage)="onPageChanged($event)"
    />
  </div>
  }
</div>
