<div [class]="getContainerClasses()">
  @if(!loading && !!data.length) {
  <div class="actionsContainer">
    <app-search
      id="search-filter"
      (searchChanged)="filtrarUsuarios($event)"
    ></app-search>
    <button class="buttonAdd" (click)="agregarUsuario()">
      Agregar Usuario
    </button>
  </div>
  }
  <app-table
    class="table"
    [columns]="columns"
    [data]="data"
    [loading]="loading"
  />
  @if(!loading && !!data.length) {
  <div class="pagination">
    <app-pagination
      [currentPage]="pageIndex"
      [totalPages]="totalPages"
      [limit]="pageSize"
      (changePage)="onPageChanged($event)"
    />
  </div>
  }
</div>
