@import 'variables.css';

.details-product {
  --background: var(--color-4);
  --color: var(--color-8);
  height: auto;
  width: 30vw;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.description-p.scroll {
  max-height: 70px;
  overflow-y: auto;
}

.product-image {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
}

.details-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-2);
}

.quantity {
  color: var(--color-8);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantity ion-icon {
  color: var(--color-2);

  &:hover {
    cursor: pointer;
  }
}

.quantity-icons.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.details-image {
  width: 100%;
  max-height: 260px;
}

.details-title {
  font-weight: bold;
}

.details-button {
  --background: var(--color-2);
  --color: var(--color-7);
}

.isInCart {
  --background: var(--color-10) !important;
}

.details-button > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5em;
}

.details-icons {
  color: var(--color-7);
}

.comments > ion-textarea {
  margin-top: 1rem;
  --highlight-color-focused: var(--color-2);
  --highlight-color-valid: var(--color-2);
  --highlight-color-invalid: var(--color-2);
  --highlight-color: var(--color-2);
  --border-color: var(--color-2);
  --placeholder-color: var(--color-8);
  --color: var(--color-8);
  --background: var(--color-4) !important;
}

.comments p {
  font-weight: bold;
  margin-top: 1rem;
}

.details-stock {
  text-align: center;
  font-size: large;
  color: var(--color-11);
}

.details-error {
  text-align: center;
  margin-top: 30vh;
  color: var(--color-10);
  font-size: 3rem;
}

.details-error > ion-icon {
  color: var(--color-10);
}

.no-stock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-10);
  color: var(--color-7);
  font-size: 17px;
}
.no-stock > ion-icon {
  --ionicon-stroke-width: 54px;
}

.description {
  text-transform: capitalize;
}
.description-p {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.product-content {
  .details-product {
    .comments-card {
      margin: 0px;
      padding: 0px;
      margin-bottom: 20px;

      .comments {
        margin: 0px;
        padding: 0px 10px;
        p {
          font-size: 13px;
          font-weight: bold;
          color: var(--color-8);
        }

        ion-textarea {
          font-size: 12.5px;
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.title-discount {
  display: flex;
  align-items: center;
}

.title-discount .details-title {
  flex: 1;
}

.dis-price {
  font-size: 16px;
  background-color: var(--color-10);
  border-radius: 5px;
  padding: 5px;
  color: var(--color-7);
}

.crossed-out-price {
  font-size: 19px;
  color: var(--color-13);
  text-decoration: line-through;
}

@media (max-width: 1000px) {
  .details-product {
    width: 60vw;
    height: auto;
  }
}
@media (max-width: 768px) {
  .details-product {
    width: 70vw;
  }
}
@media (max-width: 550px) {
  .details-product {
    width: 90vw;
  }
}

@media (max-width: 352px) {
  .details-button > div {
    justify-content: center;
  }
}
