@import 'variables.css';

/*para cambiar estilos al form */
.form-container ion-card {
  background-color: var(--color-4);
  min-width: 400px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container h1 {
  text-align: center;
  color: var(--color-8);
  font-size: 20px;
  margin: 0;
  text-transform: capitalize;
}

/*para cambiar estilos al input */
.custom-input {
  --background: var(--color-3);
  color: var(--color-8);
  margin-bottom: 15px;
}

.recaptcha-input {
  margin: 0 auto;
}

.custom-input:has(.recaptcha-input) {
  --background: transparent !important;
  --border-color: transparent;
}

.material-symbols-outlined {
  margin-right: 10px;
}

ion-icon {
  color: var(--color-8);
}

.validators {
  color: var(--color-10);
  margin-top: -10px;
}

/* para cambiar estilos al checkbox */
.custom-input ion-checkbox {
  --size: 32px;
  --checkbox-background-checked: var(--color-6);
  --checkbox-background: var(--color-3);
  font-weight: bold;
}

.custom-input ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid var(--color-6);
}

/*para cambiar estilos al boton*/
.submit {
  margin-top: 1em;
  --background: var(--color-5);
  --background-hover: var(--color-6);
}

.image-btn {
  --background: var(--color-3);
  color: black;
  font-weight: bold;
  width: 350px;
  text-align: start;
  text-transform: capitalize;
  letter-spacing: normal;
  font-size: 15px;
}

.icon-img {
  margin-left: -15px;
  font-size: 20px;
  margin-right: 10px;
}

.image-item {
  --background: var(--color-3);
}

.custom-input .image-item {
  --background: transparent !important;
  --border-width: 0;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
}

/*para el hover del color-5
:host(.color-5-solid) {
   --background-activated: var(--color-6); 
   --background-focused: var(--color-6); 
   --background-hover: var(--color-6); 
}
*/

/*para cambiar de color los labels de los imputs*/
.sc-ion-input-md-h {
  --highlight-color-focused: var(--color-9);
  --highlight-color-valid: var(--color-9);
  --highlight-color-invalid: var(--color-10);
  --highlight-color: var(--color-8);
  font-weight: bold;
}

/*Para cambiar el color de los mensajes de los inputs de tipo file */
.file-upload {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: green;
}

/* Para cambiar estilos al combo */
.form-combo {
  --background: var(--color-3);
  color: var(--color-8);
  font-weight: bold;
  font-size: 16px;
  --highlight-color-valid: var(--color-6);
  margin-bottom: 5px;
}

.form-combo::part(placeholder) {
  margin-left: 20px;
  font-weight: bold;
}

.form-combo::part(text) {
  margin-left: 20px;
  font-weight: bold;
}

.form-combo::part(icon) {
  width: 20px;
}

/* Estilos de los modals */
.alert-radio-label.sc-ion-alert-md {
  font-weight: bold;
  background: var(--color-4);
}

.alert-button-inner.sc-ion-alert-md {
  color: var(--color-8);
  font-weight: bold;
  min-width: 100px;
  background-color: var(--color-4);
}

.alert-checkbox-label.sc-ion-alert-md {
  background: var(--color-3);
}

.alert-radio-group.sc-ion-alert-md,
.alert-checkbox-group.sc-ion-alert-md {
  border-top: 1px solid var(--color-4);
  border-bottom: 1px solid var(--color-4);
}

.alert-button-group.sc-ion-alert-md {
  background: var(--color-4);
}

.alert-head.sc-ion-alert-md {
  background: var(--color-4);
  border-bottom: 1px solid var(--color-6) !important;
}

[aria-checked='true'].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--color-6);
}

[aria-checked='true'].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-md {
  border-color: var(--color-6);
  background-color: var(--color-6);
}

.alert-radio-inner.sc-ion-alert-md {
  background: var(--color-6);
}

.info-button {
  color: black;
  text-transform: none;
  font-size: smaller;
  border-radius: 10px;
}

/* para text area */
.i-text-area {
  margin-top: 1rem;
  --highlight-color-focused: var(--color-2);
  --highlight-color-valid: var(--color-2);
  --highlight-color-invalid: var(--color-2);
  --highlight-color: var(--color-2);
  --border-color: var(--color-2);
  --placeholder-color: var(--color-8);
  --color: var(--color-8);
  --background: var(--color-3) !important;
  font-weight: bold;
  font-size: 15px;
}

ion-item.sc-ion-textarea-md-h:not(.item-label),
ion-item:not(.item-label) .sc-ion-textarea-md-h {
  --padding-start: 0;
  margin: auto;
}

@media (min-width: 768px) {
  .prom-form {
    height: 122vh;
  }
}

@media (max-width: 768px) {
  .form-container ion-card {
    min-width: 320px;
    overflow-y: auto;
  }

  .custom-input {
    font-size: 14px;
  }

  .form-container h1 {
    font-size: 16px;
  }

  .form-content > details {
    margin-bottom: 4rem;
  }
}
