:root{
  --tittleForm:#1A1B1F;
  --formColor:#F6CD8F;

  --inputColor:#f9dfbc;
  --inputSucces:#008f39;
  --inputStandard:#1A1B1F;
  --inputError:#cc0000;
  --inputIcon:#1A1B1F; 

  --button: #ec9819;
  --buttonHover: #f0ad48;
}

/*para cambiar estilos al form */
.form-container ion-card {
  background-color: var(--formColor);
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container h1 {
  text-align: center;
  color: var(--tittleForm);
}


/*para cambiar estilos al input */
.custom-input {
  --background: var(--inputColor);
  color: var(--inputStandard);
  margin-bottom: 15px;
}

ion-icon {
  color: var(--inputIcon);
}

.validators {
  color: var( --inputError);
  margin-top: -10px;
}

/*para cambiar estilos al boton*/
.submit {
  margin-top: 1em;
  --background: var(--button);
}

/*para el hover del button
:host(.button-solid) {
   --background-activated: var(--buttonHover); 
   --background-focused: var(--buttonHover); 
   --background-hover: var(--buttonHover); 
}
*/

/*para cambiar de color los labels de los imputs*/
.sc-ion-input-md-h {
  --highlight-color-focused: var( --inputSucces);
  --highlight-color-valid: var( --inputSucces);
  --highlight-color-invalid: var( --inputError);
  --highlight-color: var(--inputStandard);
  font-weight: bold;
}