.glass-content {
  width: 100%;
  min-height: 100vh;

  background-image: url("../../assets/img/fondoIntro.jpg");
  backdrop-filter: blur(100px);
}

.img-intro {
  padding-top: 30vh;
  width: 100%;
  max-width: 500px;
}

.rotate-center {
  animation: rotate-center 0.4s;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
