ion-modal {
  --height: 50%;
  --min-height: 300px;
  --width: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1) !important;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, transparent);
}

ion-modal#example-modal ion-title {
  margin: 20px 20px 10px 20px;
}

ion-modal .list-md {
  --background: var(--color-4);
}

ion-modal ion-toolbar {
  font-weight: bold;
}

ion-modal ion-item {
  --border-color: var(--color-2);
  font-weight: bold;
  word-break: normal;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.modal-btn {
  background-color: var(--color-10);
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
  color: var(--color-7);
}

.swal-table {
  z-index: 99999;
}

.modal-content {
  height: 250px;
}

@media screen and (max-width: 678px) {
  ion-modal {
    --width: 80%;
  }

  .modal-content {
    --height: 300px;
  }
}
