@import 'variables.css';

.item-order {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.order-delete {
  position: absolute;
  color: var(--color-12);
  top: 0.5rem;
  right: 0;
  font-size: 1.3rem;
  border-radius: 100%;
}

.order-delete:hover {
  scale: 1.2;
}

.item-order .quantity {
  font-size: 20px;
}
.quantity-icons {
  font-size: 22px;
}
.quantity-icons:hover {
  scale: 1.2;
}

.order-info {
  display: flex;
  gap: 2rem;
}

.order-button {
  height: 2rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.total {
  margin-top: 5px;
  margin-left: 1rem;
  font-weight: bold;
}
.comments {
  font-size: small;
}

.item-p {
  position: relative;
}

.promotion-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-10);
  color: var(--color-7);
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
}

@media (max-width: 768px) {
  .order-wrapper {
    grid-template-rows: auto minmax(200px, 280px) auto;
  }
}
