@import 'variables.css';

.orders-wrapper {
  height: 80vh !important;
}

.item-order {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.order-delete {
  position: absolute;
  color: var(--color-12);
  top: 0.5rem;
  right: 0;
  font-size: 1.3rem;
  border-radius: 100%;
}

.order-delete:hover {
  scale: 1.2;
}

.item-order .quantity {
  font-size: 20px;
}
.quantity-icons {
  font-size: 22px;
}
.quantity-icons:hover {
  scale: 1.2;
}

.order-info {
  display: flex;
  gap: 2rem;
}

.order-button {
  height: 2rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.total {
  margin-top: 5px;
  margin-left: 1rem;
  font-weight: bold;
}
.comments {
  font-size: small;
}

.item-p {
  position: relative;
}

.promotion-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-10);
  color: var(--color-7);
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
}
.barcode-scanning-active {
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}

.barcode-scanning-modal {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .barcode-scanning-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
  }
}

@media (min-height: 932px) {
  .order-button {
    padding-top: 5rem;
  }
}

@media (min-height: 900px) {
  .order-button {
    margin-top: 15rem;
  }
}

@media (min-height: 740px) {
  .order-button {
    margin-top: 10rem;
  }
}

@media (max-width: 768px) {
  .order-wrapper {
    grid-template-rows: auto minmax(200px, 280px) auto;
  }

  .orders-wrapper {
    height: 50vh !important;
  }

  .order-button {
    margin-bottom: 5rem;
  }
}

@media (max-width: 678px) {
  .details-order {
    margin-top: 10px;
  }
}
