@import 'variables.css';

.item-order {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.order-delete {
  position: absolute;
  background-color: var(--color-12);
  color: var(--color-7);
  top: 0.5rem;
  right: 0;
  font-size: 1.3rem;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.order-delete:hover {
  scale: 1.2;
}

.item-order .quantity {
  font-size: 20px;
}

.order-info {
  display: flex;
  gap: 2rem;
}

.order-button {
  height: 2rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.total {
  margin-top: 5px;
  margin-left: 1rem;
  font-weight: bold;
}
.comments {
  font-size: small;
}
@media (max-width: 768px) {
  .order-wrapper {
    grid-template-rows: auto minmax(200px, 280px) auto;
  }
}
