@import 'variables.css';

.card-order-title {
  text-align: center;
  font-size: 1.25rem;
}

.ProgressBar {
  margin: 0 auto;
  padding: 1em 0 3em;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.ProgressBar-step {
  text-align: center;
  position: relative;
  width: 100%;

  &:before,
  &:after {
    content: '';
    height: 0.5em;
    background-color: var(--color-6);
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s ease-out;
  }

  &:first-child:before,
  &:first-child:after {
    display: none;
  }

  &.is-complete + &.is-current:after,
  &.is-complete + &.is-complete:after {
    width: 100%;
  }
}

.ProgressBar-icon {
  width: 1.5em;
  height: 1.5em;
  background-color: var(--color-6);
  border-radius: 50%;
  padding: 0.5em;
  max-width: 100%;
  z-index: 10;
  position: relative;

  .is-complete & {
    fill: white;
    background-color: var(--color-2);
  }
}

.ProgressBar-stepLabel {
  display: block;
  text-transform: uppercase;
  color: var(--color-5);
  position: absolute;
  padding-top: 0.5em;
  width: 100%;
  font-size: 12px;

  .is-complete > & {
    color: var(--color-2);
  }
}

.table-number {
  display: flex;
  align-items: center;
}

.table-icon {
  margin-right: 3px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .ProgressBar-stepLabel {
    font-size: 10px;
  }
}
