@import 'variables.css';

.container-body {
  display: grid;
  grid-template-columns: minmax(200px, 600px);
  justify-content: center;
  overflow-y: hidden !important;
}

.product-content {
  overflow-y: hidden !important;
}

.wrapper {
  max-height: 300px;
  display: flex;
  gap: 0.5em;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 600px;
  border: none;
  padding-bottom: 10px;
}

.wrapper .item {
  border-radius: 20px;
  min-width: 190px;
  width: 200px;
  height: 100%;
  background-color: var(--color-4);
  margin-right: 2px;
  flex-basis: auto;
  animation: itemReveal 1.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.item .button-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  margin-top: 18px;
}

.item .button-on-image {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: var(--color-3);
  border: 1px solid var(--color-2);
  border-radius: 5px;
  color: var(--color-2);
  cursor: pointer;
}

.item .button-on-image:hover {
  background-color: var(--color-2);
}

.icon-sale {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.wrapper .item .item1-image {
  max-width: 24vw;
  max-height: 25vh;
  object-fit: contain;
  border-radius: 15px;
  margin-top: 10px;
}

.wrapper .item .item1-title {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}

.available {
  color: var(--color-9);
}

.not-available {
  color: var(--color-12);
}

.wrapper .item .item1-description {
  font-size: 13px;
  color: var(--color-7);
  background: var(--color-12);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrollable {
  white-space: nowrap;
  overflow: hidden;
  animation: scrollText 12s linear infinite;
}

.offer-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-12);
  color: var(--color-7);
  padding: 5px 5px;
  border-top-left-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
}

.wrapper::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar {
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-4);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-2);
  border-radius: 8px;
}

.section-title {
  text-align: left;
  margin-bottom: 15px;
  font-size: 18px;
  color: var(--color-11);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 2px solid var(--color-2);
}

.wrapper2 {
  position: relative;
  max-width: 600px;
  /*display: flex;
    flex-direction: column;
  gap: 0.5em;*/
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  border: none;
  transition: scrollbar-width 0.5s ease;
  max-height: 85vh;
  height: 45vh;
}

.item2 {
  display: flex;
  align-items: center;
  padding: 0.5em;
  background-color: var(--color-4);
  margin-bottom: 2px;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
  border-radius: 15px;
  height: 100px;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}

.item-image {
  width: 5em;
  height: 5em;
  object-fit: cover;
  margin-right: 1em;
  border-radius: 15px;
  padding: 5px;
}

.grid-item {
  padding: 40px 0px;
}

.title {
  flex: 1;
  text-align: left;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 15px;
  text-transform: capitalize;
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-width: 200px;
}

.details-error-p {
  background-color: var(--color-10);
  color: var(--color-7);
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.icons-show {
  cursor: pointer;
  color: var(--color-2);
  margin-right: 10px;
  margin-bottom: 10px;
}

.actions .icons-accions {
  font-size: 20px;
}

.button-on-image .icons-accions {
  font-size: 17px;
}

.actions .buttons-admin {
  background-color: var(--color-3);
  padding: 0px;
  border-radius: 17px;
  border: 1px solid var(--color-2);
  color: var(--color-2);
}

.actions .buttons-admin:hover {
  background-color: var(--color-2);
}

.actions .buttons-notadmin:hover .icons-show {
  color: var(--color-3);
}

.button-add-container {
  margin-top: 20px;
  margin-right: 20px;
  position: sticky;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.add {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -10px;
}

.button-add {
  --background: var(--color-3);
  --border-radius: 20px;
  --color: black;
  width: 50px;
  height: 50px;
}

.button-add:hover {
  --background: var(--color-4);
}

.botton-add-expand {
  --background: var(--color-3);
  --border-radius: 20px;
  --color: black;
  width: 120px;
  position: relative;
  left: -70px;
}

.botton-add-expand:hover {
  --background: var(--color-4);
}

.botton-add-expand span {
  margin-left: 5px;
}

.wrapper2::-webkit-scrollbar {
  width: 8px;
}

.wrapper2 {
  overflow-y: auto;
  border-radius: 8px;
}

.wrapper2::-webkit-scrollbar-thumb {
  background: var(--color-4);
  border-radius: 8px;
}

.wrapper2::-webkit-scrollbar-track {
  background: var(--color-2);
  border-radius: 8px;
}

.wrapper2.show-scrollbar::-webkit-scrollbar {
  display: block;
}

@keyframes reveal {
  0% {
    opacity: 0;
    translate: 0 100px;
    scale: 0.5;
  }
  80% {
    scale: 1;
    opacity: 1;
    translate: 0 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}

@keyframes itemReveal {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 768px) {
  .wrapper2 {
    margin-left: 7px;
    margin-right: 5px;
    padding-right: 5px;
    height: 33vh;
  }

  .section-title,
  .wrapper {
    margin-left: 9px;
    margin-right: 9px;
  }

  .wrapper2::-webkit-scrollbar {
    width: 8px;
    display: none;
  }

  .wrapper2.show-scrollbar::-webkit-scrollbar {
    display: block;
  }
  .wrapper .item {
    min-width: 15vh;
    width: 30vw;
    height: auto;
  }

  .item .button-container {
    margin-top: 17px;
  }

  .button-on-image .icons-accions {
    font-size: 15px;
  }
}

@media (max-width: 440px) {
  .wrapper .item {
    width: 30vw;
    height: auto;
  }
}

@media screen and (min-height: 700px) {
  .wrapper2 {
    height: 45vh;
  }
}

@media screen and (min-height: 750px) {
  .wrapper2 {
    height: 52vh;
  }
}

@media screen and (min-height: 900px) {
  .wrapper2 {
    height: 53vh;
  }
}

@media screen and (height< 825px) {
  .wrapper2 {
    height: 45vh;
  }
}
@media screen and (height< 660px) {
  .wrapper2 {
    height: 35vh;
  }
}

@media screen and (height<= 805px) {
  .grid-item {
    padding: 20px 0px !important;
  }
}
