:root {
  --backgroundItems: #f6cd8f;
  --backgroundButtons: #f9dfbc;
  --letterColor: #ffff;
  --titleColor: #dc2d22;
  --backgoundDesc-Sale: #d53032;
  --backgoundBar-title: #da6047;
}

.container-body {
  display: grid;
  justify-content: center;
  overflow-y: hidden !important;
}

.product-content {
  overflow-y: hidden !important;
}

.wrapper {
  max-height: 300px;
  display: flex;
  gap: 0.5em;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 600px;
  border: none;
  padding-bottom: 10px;
}

.wrapper .item {
  border-radius: 20px;
  min-width: 110px;
  height: 100%;
  background-color: var(--backgroundItems);
  margin-right: 2px;
  flex-basis: auto;
  animation: itemReveal 1.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.icon-sale {
  font-size: 14px;
}

.wrapper .item .item1-image {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper .item .item1-title {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}

.wrapper .item .item1-description {
  font-size: 13px;
  color: var(--letterColor);
  background: var(--backgoundDesc-Sale);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 7px;
  text-transform: capitalize;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrollable {
  white-space: nowrap;
  overflow: hidden;
  animation: scrollText 6s linear infinite;
}

.offer-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--backgoundDesc-Sale);
  color: var(--letterColor);
  padding: 5px 10px;
  border-top-left-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  text-transform: capitalize;
}

.wrapper::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar {
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: var(--backgroundItems);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--backgoundBar-title);
  border-radius: 8px;
}

.section-title {
  text-align: left;
  margin-bottom: 15px;
  font-size: 18px;
  color: var(--titleColor);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 2px solid var(--backgoundBar-title);
}

.wrapper2 {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  padding-right: 10px;
  border: none;
  scrollbar-width: none;
  transition: scrollbar-width 0.5s ease;
  scrollbar-width: none;
}

.item2 {
  display: flex;
  align-items: center;
  padding: 0.5em;
  background-color: var(--backgroundItems);
  margin-bottom: 2px;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
  border-radius: 15px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.item-image {
  width: 5em;
  height: 5em;
  object-fit: cover;
  margin-right: 1em;
  border-radius: 15px;
  padding: 5px;
}

.grid-item {
  padding: 40px 0px;
}

.title {
  flex: 1;
  text-align: left;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 15px;
  text-transform: capitalize;
}

.actions {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-width: 200px;
}

.icons-show {
  font-size: 30px;
  cursor: pointer;
  color: var(--backgoundBar-title);
  margin-right: 10px;
  margin-bottom: 10px;
}

.actions .icons-accions {
  font-size: 20px;
}

.actions .buttons-admin {
  background-color: var(--backgroundButtons);
  padding: 0px;
  border-radius: 17px;
  border: 1px solid var(--backgoundBar-title);
  color: var(--backgoundBar-title);
}

.actions .buttons-admin:hover {
  background-color: var(--backgoundBar-title);
}

.actions .buttons-notadmin:hover .icons-show {
  color: var(--backgroundButtons);
}

.button-add-container {
  margin-top: 20px;
  margin-right: 20px;
  position: sticky;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.add {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -10px;
}

.button-add {
  --background: var(--backgroundButtons);
  --border-radius: 20px;
  --color: black;
  width: 50px;
  height: 50px;
}

.button-add:hover {
  --background: var(--backgroundItems);
}

.botton-add-expand {
  --background: var(--backgroundButtons);
  --border-radius: 20px;
  --color: black;
  width: 120px;
  position: relative;
  left: -70px;
}

.botton-add-expand:hover {
  --background: var(--backgroundItems);
}

.botton-add-expand span {
  margin-left: 5px;
}

.wrapper2::-webkit-scrollbar {
  width: 8px;
}

.wrapper2::-webkit-scrollbar-thumb {
  background: var(--backgroundItems);
  border-radius: 8px;
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
    scale: 0.5;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}

@keyframes itemReveal {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media (max-width: 768px) {
  .wrapper2 {
    margin-left: 7px;
    margin-right: 5px;
    padding-right: 5px;
  }

  .section-title,
  .wrapper {
    margin-left: 5px;
    margin-right: 5px;
  }

  .wrapper2::-webkit-scrollbar {
    width: 8px;
    display: none;
  }

  .wrapper2.show-scrollbar::-webkit-scrollbar {
    display: block;
  }
}
