@import "variables.css";

.avatar {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.photo-btn {
  position: relative;
  bottom: 25px;
  height: 35px;
  --background: var(--color-5);
  --background-hover: var(--color-2);
}

.photo-btn::after {
  content: "Agregar foto";
  position: absolute;
  background-color: var(--color-8);
  color: var(--color-7);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.photo-btn:hover::after {
  visibility: visible;
  opacity: 1;
}

.empty-icon {
  font-size: 140px;
  opacity: 30%;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-btn {
  width: 20em;
  --background: var(--color-5);
  width: 250px;
  height: 45px;
  margin-top: 10px;
  font-size: 15px;
  --background-hover: var(--color-2);
}

.card-profile {
  background-color: var(--color-4);
  padding: 25px;
  margin: 0px 30%;
}

.info-user {
  color: var(--color-8);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.icon-profile {
  margin-right: 5px;
  font-size: 17px;
  vertical-align: text-bottom;
}

@media (max-width: 1150px) {
  .card-profile {
    padding: 25px;
    margin: 0px 20%;
  }
}

@media (max-width: 768px) {
  .card-profile {
    padding: 20px;
    margin: 15px;
  }
}
