@import 'variables.css';

.table-card {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: fit-content;
  transition-duration: 3ms;
  transition-property: scale;
  transition-timing-function: ease-in-out;
  padding: 0;
  border-radius: 15px;
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
  cursor: pointer;
}

.table-card:hover {
  scale: 1.02 !important;
}

.table-card:active {
  scale: 0.92 !important;
}

.table-image {
  margin-top: 1em;
  max-width: 250px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.tableList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.table-btn {
  --background: var(--color-3);
  --border-radius: 20px;
  --color: black;
  width: 2rem;
  height: 2rem;
}
.state {
  width: 100%;
  color: var(--color-7);
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 2px;
}

.occupied {
  background-color: var(--color-10);
}

.free {
  background-color: var(--color-9);
}

.table-actions {
  margin-top: 2px;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-around;

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.tables-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.qrcode {
  display: none;
}

.qrBtn {
  --background: var(--color-5);
  --background-hover: var(--color-2);

  ion-icon {
    font-size: 20px;
  }
}

@keyframes reveal {
  0% {
    translate: 0 100px;
    scale: 0.5;
  }
  80% {
    scale: 1;
    translate: 0 0;
  }
  100% {
    translate: 0 0;
    scale: 1;
  }
}
.table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  border-radius: 5px;
}

.overlay {
  flex: 1;
}

.headerTable,
.tableRow {
  cursor: pointer;
  padding: 10px;
  text-align: left;
  min-width: min-content;
}

.headerTable {
  background-color: var(--color-2);
  color: var(--color-7);
}

.cell {
  padding: 9px;
  text-align: left;

  .mobile-tr {
    display: none;
  }
}

.tableRow {
  background-color: var(--color-3);
}

.tableRow:nth-child(even) {
  background-color: var(--color-3);
}

.tableRow {
  border-bottom: 2px solid var(--color-4);
}

.tableRow:hover {
  background-color: var(--color-4);
}

.buttonTable {
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
  width: 75px;
}
.buttonTable:hover {
  background-color: var(--color-7);
  font-weight: bold;
}

/* para soportar el cambio de estilo en la tabla, se deben agregar las clases en este modulo css*/

.table-red-button {
  background-color: var(--color-10);
  color: var(--color-7);
  font-weight: bold;
}

.table-red-button:hover {
  color: var(--color-10);
  background-color: var(--color-7);
  border: 1px solid var(--color-10);
  padding: 6px;
}

.table-blue-button {
  background-color: var(--color-5);
  color: var(--color-7);
  font-weight: bold;
}

.table-blue-button:hover {
  color: var(--color-5);
  background-color: var(--color-7);
  border: 1px solid var(--color-5);
  padding: 6px;
}

.actions-table {
  display: none;
}

@media (max-width: 768px) {
  table {
    border: 0;
    margin-bottom: 40px;
  }

  table tr {
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: block;
    flex-direction: column;
    border-radius: 15px;
  }

  table tr:last-child {
    margin-bottom: 0px;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table thead {
    display: none;
  }

  .cell span.mobile-tr {
    display: inline;
  }

  .cell span.font-bold {
    font-weight: bold;
  }

  .prueba-right {
    text-align: right;
  }

  .actions-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .table-actions-desktop {
    display: none;
  }

  table td {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid var(--color-4);
  }

  table td:last-child {
    border-bottom: 0;
  }

  .prueba-right {
    text-align: right;
  }

  .tableRow:hover {
    background-color: var(--color-3);
  }
}

/*
ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}*/
