@import 'variables.css';

.usersListContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-1);
  height: 100%;
}

.pagination {
  margin-top: auto;
  margin-bottom: 10px;
}

.actionsContainer {
  display: flex;
  align-items: center;
  padding: 10px 2px 5px 15px;

  .buttonSearch {
    margin-left: 10px;
  }

  .buttonAdd {
    margin-left: auto;
  }
}

.table {
  width: 100%;
  padding: 10px 15px 10px 15px;
}

.buttonAdd,
.buttonSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-3);
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.4vw;
  border-color: var(--color-5);
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.searchComp {
  margin: 15px;
}

.actionIcon {
  height: 18px;
  width: 18px;
}

@media (max-width: 768px) {
  .buttonAdd {
    margin: 8px;
    font-size: 14px;
  }

  .searchComp {
    margin: 8px;
  }

  .pagination {
    margin: 0;
    padding-left: 5px;
  }

  .actionsContainer {
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 15px;
  }
}
