:root {
  /*variables para colores de estructura en general*/
  --color-1: rgb(235, 139, 101);
  --color-2: #da6047;

  --color-3: #f9dfbc;
  --color-4: #f6cd8f;

  --color-5: #ec9819;
  --color-6: #f0ad48;

  --color-table-action-button: #ccc;
  --color-table-row-odd: #efefef;
  --color-table-row-even: #fdfdfd;

  --color-edit-button-gb: #007bff;

  /*variables para letras*/
  --color-7: #ffff;
  --color-8: #1a1b1f;

  /*variables para notificaciones de inputs*/
  --color-9: #008f39;
  --color-10: #cc0000;

  /*variables para las promociones*/
  --color-11: #dc2d22;
  --color-12: #d53032;
}

/*
:root {
    --color-1: #3a80b8;
    --color-2: #2b5797;
  
    --color-3: #a7c8e8;
    --color-4: #68a4d1;
  
    --color-5: #1e4f7f;
    --color-6: #3d88c7;
  
    --color-7: #ffff;
    --color-8: #1a1b1f;
  
    --color-9: #008f39;
    --color-10: #cc0000;
  
    --color-11: #a7c8e8;
    --color-12: #d53032;
  }
*/
