<footer class="footer-desktop">
  <div class="container">
    <div class="row">
      <div class="col" id="company">
        <p>
          Descubre en <strong>TGD Net</strong>, soluciones de software enlatado
          que impulsarán tu negocio. Innovación y eficiencia para potenciar tu
          crecimiento.
        </p>

        <div class="social">
          <a><i class="fab fa-facebook"></i></a>
          <a><i class="fab fa-instagram"></i></a>
          <a><i class="fab fa-twitter"></i></a>
          <a><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col" id="services">
        <h3>Servicios</h3>
        <div class="links">
          <a href="#">Integración</a>
          <a href="#">Personalización</a>
          <a href="#">Métricas</a>
        </div>
      </div>

      <div class="col" id="useful-links">
        <h3>Información</h3>
        <div class="links">
          <a>Políticas</a>
          <a>Privacidad</a>
          <a>Copyright &copy;</a>
        </div>
      </div>
    </div>
  </div>
</footer>
