<ion-content scroll-y="false" class="product-content">
  <div class="container-body">
    <h2 class="section-title" *ngIf="showData">Mesas</h2>
    @if(tableList.length > 0){
    <div
      class="wrapper2 productsList tableList"
      #wrapper
      (scroll)="onScroll($event)"
    >
      @for(table of tableList; track table.id; let idx = $index) {
      <article>
        <ion-card class="table-card details-product">
          <img
            loading="lazy"
            src="assets/table.webp"
            alt="Table Image"
            class="table-image"
          />
          <ion-card-header class="details-header">
            <ion-card-title class="details-title"
              >Mesa: {{ table.number }}</ion-card-title
            >
          </ion-card-header>
          <div class="tables-buttons">
            <div class="table-actions" *ngIf="admin">
              <ion-icon
                name="create-outline"
                class="icons-admin icon-eye"
                [class.disabled]="table.state == 'Occupied'"
                [routerLink]="['/tables/edit', table.id]"
              ></ion-icon>
            </div>
            <ion-button class="qrBtn" *ngIf="admin">
              <qrcode
                [qrdata]="'Mesa ' + table.number.toString()"
                [width]="400"
                cssClass="qrcode"
                (qrCodeURL)="onChangeURL($event)"
              ></qrcode>
              <a [href]="qrCodeDownloadLink" download="qrcode"
                ><ion-icon name="qr-code-outline"></ion-icon
              ></a>
            </ion-button>
            <div class="table-actions" *ngIf="admin">
              <ion-icon
                name="trash-outline"
                class="icons-admin icon-eye"
                [class.disabled]="table.state == 'Occupied'"
                (click)="delete(table.id)"
              ></ion-icon>
            </div>
          </div>
          <ion-card-content
            class="state"
            [ngClass]="{
              free: table.state == 'Free',
              occupied: table.state == 'Occupied'
            }"
          >
            <div>
              <p>{{ table.state == 'Free' ? 'Libre' : 'Ocupada' }}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </article>
      }
    </div>
    }@else{
    <div class="details-error" *ngIf="showData">
      <h2>Aún no hay mesas cargadas</h2>
    </div>
    }

    <div class="grid-item">
      <div class="button-add-container" *ngIf="showData && admin">
        <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="add">
          <ion-fab-button class="button-add" [routerLink]="['/tables/add']">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </div>
  </div>
</ion-content>
