<ion-content scroll-y="false" class="product-content">
  <div class="container-body">
    <h2 class="section-title" *ngIf="showData">
      {{ admin ? 'Mesas' : 'Pedidos' }}
    </h2>
    @if(tableList.length > 0){
    <div
      class="wrapper2 productsList tableList"
      #wrapper
      (scroll)="onScroll($event)"
    >
      @for(table of tableList; track table.id; let idx = $index) {
      <article>
        <ion-card
          class="table-card details-product"
          (click)="openDetails(table)"
          type="button"
        >
          <img
            loading="lazy"
            src="assets/table.webp"
            alt="Table Image"
            class="table-image"
          />
          <ion-card-header class="details-header">
            <ion-card-title class="details-title"
              >Mesa: {{ table.number }}</ion-card-title
            >
          </ion-card-header>
          <div class="tables-buttons">
            <div class="table-actions" *ngIf="admin">
              <span title="Editar" class="icon-tooltip-pr">
                <ion-icon
                  name="create-outline"
                  class="icons-admin icon-eye"
                  [class.disabled]="table.state == 'Occupied'"
                  [routerLink]="['/tables/edit', table.id]"
                ></ion-icon>
              </span>
            </div>

            <div
              style="
                position: absolute;
                left: -10000px;
                top: auto;
                width: 300px;
                height: 300px;
                overflow: hidden;
              "
              [id]="'qr-image' + table.number.toString()"
            >
              <qr-code
                [value]="getQRCode(table.number.toString())"
                size="300"
                errorCorrectionLevel="M"
              ></qr-code>
            </div>

            <ion-button
              class="qrBtn"
              *ngIf="admin"
              (click)="
                $event.stopPropagation(); captureScreen(table.number.toString())
              "
            >
              <ion-icon name="qr-code-outline"></ion-icon>
              <!--<a [id]="'link' + table.number.toString()"
                ><ion-icon name="qr-code-outline"></ion-icon
              ></a>-->
            </ion-button>
            <!--     <ion-button class="qrBtn" *ngIf="admin">
              <qrcode
                [qrdata]="'Mesa ' + table.number.toString()"
                [width]="400"
                cssClass="qrcode"
                (qrCodeURL)="onChangeURL($event)"
              ></qrcode>
              <a [href]="qrCodeDownloadLink" download="qrcode"
                ><ion-icon name="qr-code-outline"></ion-icon
              ></a>
            </ion-button>-->
            <div class="table-actions" *ngIf="admin">
              <span title="Eliminar" class="icon-tooltip-pr">
                <ion-icon
                  name="trash-outline"
                  class="icons-admin icon-eye"
                  [class.disabled]="table.state == 'Occupied'"
                  (click)="delete(table.id)"
                ></ion-icon
              ></span>
            </div>
          </div>
          <ion-card-content
            class="state"
            [ngClass]="{
              free: table.state == 'Free',
              occupied: table.state == 'Occupied'
            }"
          >
            <div>
              <p>{{ table.state == 'Free' ? 'Libre' : 'Ocupada' }}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </article>
      }
    </div>
    }@else{
    <div class="details-error" *ngIf="showData">
      <h2>Aún no hay mesas cargadas</h2>
    </div>
    }

    <div class="grid-item">
      <div class="button-add-container" *ngIf="showData && admin">
        <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="add">
          <span title="Añadir" class="icon-tooltip-pr">
            <ion-fab-button class="button-add" [routerLink]="['/tables/add']">
              <ion-icon name="add"></ion-icon> </ion-fab-button
          ></span>
        </ion-fab>
      </div>
    </div>
  </div>
</ion-content>
