/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

@import './app/styles/form.css';
@import './app/styles/intro.css';
@import './app/styles/menu.css';
@import './app/styles/footer.css';
@import './app/styles/header.css';
@import './app/styles/faq.css';
@import './app/styles/profile.css';
@import './app/styles/productsType.css';
@import './app/styles/products.css';
@import './app/styles/details.css';
@import './app/styles/ionicAlerts.css';
@import './app/styles/infinite-scroll.css';
@import './app/styles/my-orders.css';
@import './app/styles/search.css';
@import './app/styles/pagination.css';
@import './app/styles/users.css';
@import './app/styles/table.css';
@import './app/styles/promotions.css';
@import './app/styles/confirmed-orders.css';
@import './app/styles/login-download.css';
@import './app/styles/variables.css';
@import './app/styles/themes.css';

@import './app/styles/tooltips.css';
@import './app/styles/order-details.css';
@import './app/styles/modal.css';
@import './app/styles/ion-range.css';
//@import './app/styles/variables.css';*/
@import './app/styles/about.css';

@import 'ngx-toastr/toastr';

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --ion-background-color: var(--color-1);
}

@media (prefers-color-scheme: dark) {
  .md body {
    --ion-background-color: var(--color-1);
    --background: var(--color-1);
    --ion-text-color: var(--color-8);
    --ion-color-step-850: var(--color-8);
    --ion-color-step-50: var(--color-7);
    --ion-item-background: var(--color-1);
    --ion-color-light: var(--color-3);
    --background: var(--color-3);
    --ion-color-primary: var(--color-3);
  }

  table td {
    color: var(--color-8);
  }
}
