<ion-content
  class="ion-padding-top ion-padding-left ion-padding-right form-container-p profile-content form-container-p"
>
  <div class="main-container-dashboard">
    <h2 class="section-title" *ngIf="showData">Dashboard</h2>
    <div class="container-dashboard">
      <div class="dashboard-section1"></div>
      <div class="dashboard-section2"></div>
      <div class="dashboard-section3">
        <div class="chart-container">
          <div id="chart_div2"></div>
        </div>
      </div>
      <div class="dashboard-section4">
        <div class="chart-container">
          <div id="chart_div"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
