<ion-content class="product-content">
  <div class="container-body">
    @if(this.productsList.length > 0){
    <h2 class="section-title" *ngIf="showData">Productos</h2>
    <div class="wrapper2 productsList">
      @for(products of productsList; track products.id; let idx = $index) {
      @if(admin || !products.baja){
      <div class="item2 productsItem" (click)="redirectToDetails(products.id)">
        <img [src]="imagesUrl$[idx] | async" alt="" class="item-image" />
        <span class="title">{{ products.description }}</span>
        <div class="actions" *ngIf="!admin">
          <ion-icon
            [routerLink]="[]"
            class="icons-show"
            name="chevron-forward-circle-outline"
          ></ion-icon>
        </div>
        <div class="actions" *ngIf="admin">
          <ion-icon
            [name]="hide ? 'eye-outline' : 'eye-off-outline'"
            title="Ocultar producto al usuario"
            (click)="$event.stopPropagation(); showOrHideProduct(products)"
            class="icons-admin"
          ></ion-icon>
          <ion-button
            (click)="redirectToProductsEdit(products.id)"
            expand="block"
            fill="clear"
            shape="round"
            class="buttons-admin"
            ><ion-icon name="create-outline" class="icons-accions"></ion-icon
          ></ion-button>
          <ion-button
            expand="block"
            fill="clear"
            shape="round"
            class="buttons-admin"
            (click)="delete(products.id)"
            ><ion-icon name="trash-outline" class="icons-accions"></ion-icon
          ></ion-button>
        </div>
      </div>
      } }
    </div>
    }@else if(showData){
    <div class="details-error">
      <h2>Aún no hay productos cargados para esta categoría</h2>
    </div>
    }
  </div>
</ion-content>
