@import '../../styles/variables.css';

.table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.overlay {
  flex: 1;
}

.headerTable,
.tableRow {
  padding: 10px;
  text-align: left;
  min-width: min-content;
}

.headerTable {
  background-color: var(--color-table-header);
  color: var(--color-7);
}

.cell {
  padding: 8px;
  text-align: left;

  .mobile-tr {
    display: none;
  }
}

.tableRow {
  background-color: var(--color-table-row-odd);
}

.tableRow:nth-child(even) {
  background-color: var(--color-table-row-even);
}

.tableRow {
  border-bottom: 1px solid var(--color-table-action-button);
}

.tableRow:hover {
  background-color: var(--color-5);
}

.buttonTable {
  padding: 5px;
  background-color: var(--color-table-action-button);
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  font-family: Arial, Helvetica, sans-serif;
}

.buttonTable:hover {
  background-color: var(--color-7);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* para soportar el cambio de estilo en la tabla, se deben agregar las clases en este modulo css*/

.table-red-button {
  background-color: var(--color-remove-button-bg);
  color: var(--color-7);
}

.table-red-button:hover {
  color: var(--color-remove-button-bg);
  background-color: var(--color-7);
}

.table-blue-button {
  background-color: var(--color-edit-button-gb);
  color: var(--color-7);
}

.table-blue-button:hover {
  color: var(--color-edit-button-gb);
  background-color: var(--color-7);
}

@media (max-width: 768px) {
  table {
    border: 0;
    margin-bottom: 40px;
  }

  table tr {
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: block;
  }

  table tr:last-child {
    padding-bottom: 30px;
    margin-bottom: 0px;
  }

  table td {
    display: block;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px var(--color-table-action-button);
  }

  table td:last-child {
    border-bottom: 0;
  }

  table thead {
    display: none;
  }

  .cell span.mobile-tr {
    display: inline;
  }

  .cell span.font-bold {
    font-weight: bold;
  }
}
