<div class="tableContainer">
  <div class="overlay" *ngIf="!data.length && !loading">
    <div class="details-error">
      <h2>No hay registros para mostrar</h2>
    </div>
  </div>
  <table *ngIf="data.length > 0 && !loading" class="table">
    <thead>
      <tr class="tableRow">
        <ng-container *ngFor="let column of columns">
          <th class="headerTable">{{ column.label }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let d of data">
        <tr class="tableRow">
          <ng-container *ngFor="let column of columns">
            <div
              *ngIf="columnIsAction(column); then thenBlock; else elseBlock"
            ></div>
            <ng-template #thenBlock>
              <ng-container
                *ngIf="
                  shouldHideAction(d, column?.hideAction);
                  then hideLabelBlock;
                  else showLabelBlock
                "
              ></ng-container>
              <ng-template #hideLabelBlock>
                <td class="cell"></td>
              </ng-template>
              <ng-template #showLabelBlock>
                <td class="cell table-actions-desktop">
                  <button
                    class="{{ getButtonColumnClass(column) }}"
                    (click)="column?.action(d)"
                  >
                    {{ column.label }}
                  </button>
                </td>
              </ng-template>
            </ng-template>
            <ng-template #elseBlock>
              <td class="cell">
                <span class="mobile-tr font-bold">{{ column.label }}</span>
                <span class="prueba-right">{{
                  formatData(column.key, d, column.formatter)
                }}</span>
              </td>
            </ng-template>
          </ng-container>
          <div class="actions-table">
            <ng-container *ngFor="let column of actionsColumns">
              <div *ngIf="columnIsAction(column); then thenBlock"></div>
              <ng-template #thenBlock>
                <ng-container
                  *ngIf="
                    shouldHideAction(d, column?.hideAction);
                    then hideLabelBlock;
                    else showLabelBlock
                  "
                ></ng-container>
                <ng-template #hideLabelBlock>
                  <td class="cell"></td>
                </ng-template>
                <ng-template #showLabelBlock>
                  <td class="cell">
                    <button
                      class="{{ getButtonColumnClass(column) }}"
                      (click)="column?.action(d)"
                    >
                      {{ column.label }}
                    </button>
                  </td>
                </ng-template>
              </ng-template>
            </ng-container>
          </div>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
