<ion-content>
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title><h1>Iniciar Sesión</h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-form
          [form]="form"
          [fields]="formFields"
          [buttons]="myButtons"
          [validationConfig]="validationConfig"
          (formSubmit)="submit($event)"
        >
        </app-form>
        <p
          class="ion-text-center"
          style="text-decoration: underline; cursor: pointer; color: black"
          routerLink="forgot-password"
        >
          ¿Olvidaste tu contraseña?
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="button-container">
    <a
      *ngIf="showDownloadButton"
      href="ruta/al/archivo/archivo.apk"
      download="archivo.apk"
      class="download__item"
    >
      <span class="material-symbols-outlined download__logo">
        system_update
      </span>
      <h4 class="download__title">¡Descarga BarApp Gratis Aquí!</h4>
    </a>
  </div>
</ion-content>
