<ion-content>
  <div class="main-container">
    <h1 class="titulo">Preguntas Frecuentes</h1>
    <p class="subtitulo">Seleccione la categoria...</p>

    <div class="categorias">
      <div
        *ngFor="let categoria of categorias"
        class="categoria"
        (click)="seleccionarCategoria(categoria)"
        [ngClass]="{
          'categoria-seleccionada': categoria === categoriaSeleccionada
        }"
      >
        <ion-icon [name]="categoria.icono" class="categories-icon"></ion-icon>
        <p>{{ categoria.nombre }}</p>
      </div>
    </div>

    <p class="subtitulo">Inquietudes y respuestas...</p>
    <div class="accordion-container">
      <ion-accordion-group class="accordion">
        <ion-accordion class="answer" *ngFor="let item of preguntasFiltradas">
          <ion-item slot="header">
            <ion-label class="date-label">{{ item.pregunta }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-label class="date-content">{{ item.respuesta }}</ion-label>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </div>
</ion-content>
