.menu-mobile {
  display: none;
}

@media (max-width: 768px) {
  .menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    --background: #da6047;
  }
}
