<!-- menu desktop-->
<ion-menu contentId="main-content" class="menu-desktop" *ngIf="showDesktopMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title class="logo__name">Explorar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list class="background-menu">
      <ng-container *ngFor="let menuItem of menuItems">
        <ion-item
          *ngIf="!menuItem.isManage"
          class="menuItem background-menu"
          [routerLink]="menuItem.route"
          (click)="menuItem.label === 'Cerrar Sesión' && logout()"
        >
          <ion-icon
            aria-hidden="true"
            [name]="menuItem.icon"
            slot="start"
          ></ion-icon>
          <ion-label>{{ menuItem.label }}</ion-label>
        </ion-item>
      </ng-container>
      <ng-container
        *ngIf="menuItems && menuItems.length > 0 && hasManageItems()"
      >
        <ion-accordion-group>
          <ion-accordion value="first" class="background-menu">
            <ion-item slot="header" color="light" class="menuItem">
              <ion-icon
                aria-hidden="true"
                name="create-outline"
                slot="start"
              ></ion-icon>
              <ion-label>Gestionar</ion-label>
            </ion-item>
            <ion-list slot="content" class="background-menu">
              <ng-container *ngFor="let menuItem of menuItems">
                <div class="item-padding">
                  <ion-item
                    *ngIf="menuItem?.isManage && !menuItem?.isSetting"
                    class="menuItem background-menu"
                    [routerLink]="menuItem.route"
                  >
                    <ion-label>{{ menuItem.label }}</ion-label>
                  </ion-item>
                </div>
              </ng-container>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>

        <ion-accordion-group>
          <ion-accordion value="first" class="background-menu">
            <ion-item slot="header" color="light" class="menuItem">
              <ion-icon
                aria-hidden="true"
                name="settings-outline"
                slot="start"
              ></ion-icon>
              <ion-label>Configuracion</ion-label>
            </ion-item>
            <ion-list slot="content" class="background-menu">
              <ng-container *ngFor="let menuItem of menuItems">
                <div class="item-padding">
                  <ion-item
                    *ngIf="menuItem?.isManage && menuItem?.isSetting"
                    class="menuItem background-menu"
                    [routerLink]="menuItem.route"
                  >
                    <ion-label>{{ menuItem.label }}</ion-label>
                  </ion-item>
                </div>
              </ng-container>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header class="menu-desktop" *ngIf="showDesktopMenu">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button id="menuButton"></ion-menu-button>
      </ion-buttons>
      <ion-title class="logo__name"
        >TDG<span class="point">net.</span></ion-title
      >
      <ion-buttons slot="end" *ngIf="showBackButton">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content class="menu-mobile" [class.hide]="admin">
  <ion-tabs>
    <ion-tab-bar class="tabBar">
      <ion-tab-button
        *ngFor="let tab of tabsItem"
        class="tabButton"
        [ngClass]="{ 'tab-order': tab.label === 'Pedidos' }"
        [routerLink]="tab.route"
      >
        @if(tab.label === 'Pedidos' && badgeValue > 0){
        <ion-badge #ionBadge>{{ badgeValue }}</ion-badge>
        }
        <ion-icon
          [name]="tab.icon"
          (click)="toggleDesktopMenu(tab.icon)"
        ></ion-icon>
        {{ tab.label }}
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
