<!-- menu desktop-->
<ion-menu contentId="main-content" class="menu-desktop">
  <ion-header>
    <ion-toolbar>
      <ion-title class="logo__name">Explorar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let menuItem of getUpperMenuItems()">
        <ion-icon
          aria-hidden="true"
          [name]="menuItem.icon"
          slot="start"
        ></ion-icon>
        <ion-label>{{ menuItem.label }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ng-container *ngFor="let accordion of accordionData">
        <ion-item
          (click)="accordion.expanded = !accordion.expanded"
          [class.expanded]="accordion.expanded"
        >
          <ion-icon
            slot="start"
            [name]="accordion.icon"
            aria-hidden="true"
          ></ion-icon>
          <ion-label>{{ accordion.label }}</ion-label>
          <ion-icon
            slot="end"
            [name]="accordion.expanded ? 'chevron-up' : 'chevron-down'"
            aria-hidden="true"
          ></ion-icon>
        </ion-item>
        <ng-container *ngIf="accordion.expanded">
          <ion-item *ngFor="let p of accordion.subItems" class="item-padding">
            <ion-label>{{ p.label }}</ion-label>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-list>

    <ion-list>
      <ion-item *ngFor="let menuItem of getLowerMenuItems()">
        <ion-icon
          aria-hidden="true"
          [name]="menuItem.icon"
          slot="start"
        ></ion-icon>
        <ion-label>{{ menuItem.label }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header class="menu-desktop">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="logo__name"
        >TDG<span class="point">net.</span></ion-title
      >
      <ion-buttons slot="end" *ngIf="showBackButton">
        <ion-button (click)="goBack()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<!-- menu mobile-->
<ion-tabs class="menu-mobile">
  <ion-tab-bar slot="bottom" class="tabBar">
    <ion-tab-button tab="home" class="tabButton">
      <ion-icon name="home-sharp"></ion-icon>
      Inicio
    </ion-tab-button>

    <ion-tab-button tab="carta" class="tabButton">
      <ion-icon name="fast-food"></ion-icon>
      Carta
    </ion-tab-button>

    <ion-tab-button tab="cart" class="tabButton">
      <ion-icon name="cart"></ion-icon>
      Orden
    </ion-tab-button>

    <ion-tab-button tab="calendar" class="tabButton">
      <ion-icon name="calendar"></ion-icon>
      Reserva
    </ion-tab-button>

    <ion-tab-button tab="ellipsis-vertical-sharp" class="tabButton">
      <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
