<ion-content>
  <div class="container-body-themes-d">
    <h4 class="section-title-themes-d">{{ tituloTarjeta }}</h4>
    <div class="slider">
      <div class="list">
        <div class="item" *ngFor="let imagen of imagenes">
          <img [src]="imagen" alt="" />
        </div>
      </div>
      <div class="buttons">
        <button id="prev"><</button>
        <button id="next">></button>
      </div>
      <ul class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <button (click)="handleChangeTheme()" class="change-theme-button">
      Cambiar Tema
    </button>
  </div>
</ion-content>
