<ion-content scroll-y="false" class="product-content">
  <div class="container-body">
    @if(promotionsList && promotionsList.length > 0){
    <h2 class="section-title" *ngIf="showData">Promociones</h2>
    <div class="wrapper">
      @for(promotion of promotionsList; track promotion.id; let idx = $index) {
      @if((!admin && !promotion.baja) && (!admin && isPromotionValid(promotion))
      || admin){
      <div
        class="item"
        (click)="promotion.id !== undefined && redirectToDetails(promotion.id)"
      >
        <div class="offer-label" *ngIf="promotion.discount">
          {{ promotion.discount * 100 }}% off
          <span class="material-symbols-outlined icon-sale"> verified </span>
        </div>
        <img
          [src]="imagesUrlPromotions$[idx] | async"
          alt=""
          class="item1-image"
        />
        <div class="button-container" *ngIf="admin">
          <button
            class="button-on-image"
            [routerLink]="['/menu/categories/editPromotion', promotion.id]"
          >
            <ion-icon name="create-outline" class="icons-accions"></ion-icon>
          </button>
          <button
            class="button-on-image"
            *ngIf="promotion.id !== undefined"
            (click)="$event.stopPropagation(); deleteProm(promotion.id)"
          >
            <ion-icon name="trash-outline" class="icons-accions"></ion-icon>
          </button>
        </div>
        <h3
          *ngIf="promotion.baja || !isPromotionValid(promotion)"
          class="item1-title"
        >
          No disponible
        </h3>
        <div
          *ngIf="promotion.description && promotion.description.length > 14"
          class="scrollable"
        >
          <p class="item1-description">{{ promotion.description }}</p>
        </div>
        <div
          *ngIf="promotion.description && promotion.description.length <= 14"
          class="item1-description"
        >
          {{ promotion.description }}
        </div>
      </div>
      } } @if(validPromotionsList.length === 0 && !admin){
      <div class="details-error-p">
        <p>Aún no hay promociones cargadas</p>
      </div>
      }
    </div>
    }@else if(showData && !loading){
    <div class="details-error">
      <h2>Aún no hay promociones cargadas</h2>
    </div>
    } @if(this.productsTypeList){
    <h2 class="section-title" *ngIf="showData">Categorias de productos</h2>
    <div class="wrapper2" #wrapper (scroll)="onScroll($event)">
      @for(productsType of productsTypeList; track productsType.id; let idx =
      $index) {
      <div
        class="item2"
        [routerLink]="['/menu/categories/', productsType.id, 'products']"
      >
        <img [src]="imagesUrl$[idx] | async" alt="" class="item-image" />
        <span class="title">{{ productsType.description }}</span>
        <div class="actions" *ngIf="!admin">
          <ion-icon
            [routerLink]="[]"
            class="icons-show"
            name="chevron-forward-circle-outline"
          ></ion-icon>
        </div>
        <div class="actions" *ngIf="admin">
          <ion-button
            [routerLink]="['/menu/categories/edit', productsType.id]"
            expand="block"
            fill="clear"
            shape="round"
            class="buttons-admin"
            ><ion-icon name="create-outline" class="icons-accions"></ion-icon
          ></ion-button>
          <ion-button
            expand="block"
            fill="clear"
            shape="round"
            class="buttons-admin"
            (click)="$event.stopPropagation(); delete(productsType.id)"
            ><ion-icon name="trash-outline" class="icons-accions"></ion-icon
          ></ion-button>
        </div>
      </div>
      }
      <span class="loader" *ngIf="infiniteScrollLoading"></span>
    </div>

    }@else if(showData && !loading){
    <div class="details-error">
      <h2>Aún no hay categorías cargadas</h2>
    </div>
    }
    <div class="grid-item">
      <div class="button-add-container" *ngIf="showData && admin && !loading">
        <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="add">
          <ion-fab-button class="button-add">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button
              class="botton-add-expand"
              [routerLink]="['/menu/categories/addPromotion']"
            >
              <ion-icon name="pricetags-outline"></ion-icon>
              <span>Promoción</span>
            </ion-fab-button>
            <ion-fab-button
              class="botton-add-expand"
              [routerLink]="['/menu/categories/add']"
            >
              <ion-icon name="reader-outline"></ion-icon>
              <span>Categoría</span>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </div>
    </div>
  </div>
</ion-content>
