.details-promotion{
  background: #f6cd8f;
  color: #1a1b1f;
  width: 25vw;
  height: auto;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.promotion-date {
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #dc2d22;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.promotion-date span {
  color: #f9dfbc;
}

.tittle-valid {
  margin-bottom: 5px;
}

.details-title-promotion {
  font-size: 1em;
  font-weight: bold;
}

.discount-overlay {
  position: absolute;
  top: 14px;
  left: 14px;
  padding: 10px;
  background-color: #dc2d22;
  color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  box-shadow: 0 0 0 3px #f6cd8f, 0 0 0 10px #ec9819;
}

.discount-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.discount-number {
  font-size: 1.5em;
  font-weight: bold;
}

.percentage-symbol {
  font-size: 1em;
}

.off-text {
  font-size: 0.7em;
  margin-left: 5px;
}

.promotion-image {
  position: relative;
  width: 100%; 
  height: 300px; 
  overflow: hidden; 
}

.promotion-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.flags-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.flag {
  flex: 1;
  position: relative;
  padding: 5px;
  background-color: #da6047;
  color: #fff;
  font-size: 0.9em;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 3px;
}

.details-title-promotion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-prom {
  margin-left: 10px;
  padding: 10px;
  background-color: #da6047;
  color: #fff;
  font-size: 1em;
  text-align: center;
  border-radius: 5px;
}
