<ion-content class="product-content">
  <div class="container-body">
    @if(this.promotion){
    <ion-card class="details-product">
      <img
        [alt]="this.promotion.description"
        [src]="imagesUrl$ | async"
        class="details-image promotion-image"
      />
      <div class="discount-overlay">
        <div class="discount-content">
          <span class="discount-number" *ngIf="promotion.discount">
            {{ this.promotion.discount * 100 }}</span
          >
          <div class="percentage-info">
            <span class="percentage-symbol">%</span>
            <span class="off-text">Off</span>
          </div>
        </div>
      </div>
      <div class="additional-circle"></div>
      <ion-card-header class="details-header">
        <ion-card-title class="details-title-promotion"
          >{{ this.promotion.description }}
          <span *ngIf="this.promotion.price" class="price-prom">
            ${{ this.promotion.price }}
          </span></ion-card-title
        >
      </ion-card-header>
      <ion-card-content class="details-content">
        <div class="description-prom">
          <div
            class="promotion-date"
            *ngIf="this.promotion.valid_from && this.promotion.valid_to"
          >
            Vigente del
            <span
              >{{
                this.promotion.valid_from | date : 'dd-MM-yyyy - HH:mm'
              }}Hs</span
            >
            al
            <span
              >{{
                this.promotion.valid_to | date : 'dd-MM-yyyy - HH:mm'
              }}Hs</span
            >
          </div>
          <div
            *ngIf="
              this.promotion.days_of_week &&
              this.promotion.days_of_week.length > 0
            "
          >
            <div class="tittle-valid">Válido los días:</div>
            <div class="flags-container">
              <div
                *ngIf="
                  arraysEqual(this.promotion.days_of_week, [1, 2, 3, 4, 5])
                "
                class="flag"
              >
                De lunes a viernes
              </div>
              <div
                *ngIf="
                  arraysEqual(
                    this.promotion.days_of_week,
                    [1, 2, 3, 4, 5, 6, 7]
                  )
                "
                class="flag"
              >
                Todos los días
              </div>
              <div
                *ngIf="arraysEqual(this.promotion.days_of_week, [6, 7])"
                class="flag"
              >
                Fines de semana
              </div>
              <div
                *ngIf="
                  !arraysEqual(this.promotion.days_of_week, [1, 2, 3, 4, 5]) &&
                  !arraysEqual(
                    this.promotion.days_of_week,
                    [1, 2, 3, 4, 5, 6, 7]
                  ) &&
                  !arraysEqual(this.promotion.days_of_week, [6, 7])
                "
              >
                <div class="flags-container">
                  <div
                    *ngFor="let dia of this.promotion.days_of_week"
                    class="flag"
                  >
                    {{ getNombreDia(dia) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-card-content>
      <div *ngIf="this.promotion.baja" class="details-stock">
        <p>Esta promoción ya no esta disponible</p>
      </div>
    </ion-card>
    }@else if(!this.isLoading){
    <div class="details-error">
      <h2>Promoción no encontrada</h2>
      <ion-icon name="sad-outline"></ion-icon>
    </div>
    }
  </div>
</ion-content>
