<ion-content class="product-content">
  <div class="container-body">
    <h2 class="section-title">Mis reservas</h2>
    <div class="wrapper2 productsList" #wrapper (scroll)="onScroll($event)">
      @for(booking of bookingList; track booking.id; let idx = $index) {
      <div class="item-p card-order" [style.animation-delay]="idx * 150 + 'ms'">
        <div class="card-order-info">
          <span><b>Reserva Nro:</b> {{ booking.id }}</span>
          <span class="booking-quota">
            <ion-icon name="people-outline"></ion-icon>
            Comensales: {{ booking.quota }}
          </span>
          <div class="order-date">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>
              {{
                booking.date_hour
                  | date : "MMM dd, yyyy 'a las' HH:mm a" : '+0000'
              }}
            </span>
          </div>
        </div>
        <div class="card-order-state">
          <div
            class="order-state"
            [ngClass]="{
              'bg-pending': +booking.stateId === 1,
              'bg-paid': +booking.stateId === 2,
              'bg-cancel': +booking.stateId === 3,
            }"
          >
            <span class="material-symbols-outlined check-icon"> done </span>
            <a href=""> {{ this.states[+booking.stateId] }}</a>
          </div>
          <button
            *ngIf="+booking.stateId === 1"
            ion-button
            class="order-state bg-cancel"
            (click)="cancelBooking(booking.id.toString())"
          >
            Cancelar
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</ion-content>
