<ion-content scroll-y="false" class="product-content">
  <div class="container-body-themes">
    <h4 class="section-title-themes">Temas</h4>
    <div class="grid-container">
      <div
        *ngFor="let tarjeta of tarjetas"
        class="card"
        (click)="redirectToDetails(tarjeta.id)"
      >
        <img [src]="tarjeta.imagen" alt="Imagen" />
        <h4 [ngClass]="'theme-title-' + tarjeta.id">{{ tarjeta.titulo }}</h4>
      </div>
    </div>
  </div>
  <!-- <button (click)="changeCSSVariables()">Cambiar Variables CSS</button> -->
</ion-content>
