<ion-content
  class="product-content"
  [scrollY]="mobileScreen ? 'true' : 'false'"
>
  <div class="container-body">
    @if(this.order){
    <ion-card class="details-product">
      <ion-card-header>
        <ion-card-title class="card-order-title"
          ><b>Pedido Nro:</b> {{ order.id }}</ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <div>
          <ion-icon name="calendar-outline"></ion-icon>
          <span>
            {{
              order.date_created
                | date : "MMM dd, yyyy 'a las' HH:mm a" : '+0000'
            }}
          </span>
        </div>
        <div class="data-order">
          <span class="material-symbols-outlined data-order-icon"
            >table_restaurant</span
          >
          Mesa número {{ order.table_order.number }}
        </div>

        <div class="data-order" *ngIf="order.employee">
          <span class="material-symbols-outlined data-order-icon">
            account_circle
          </span>
          Mesero asignado: {{ order.employee.name }}
        </div>

        <p>Detalle pedido:</p>
        <div class="order-table">
          <div class="order-row header-row">
            <div class="order-cell product-promotion bold">
              Producto/Promoción
            </div>
            <div class="order-cell price right-aligned bold">Precio</div>
            <div class="order-cell quantity right-aligned bold">Cantidad</div>
          </div>
          <div class="order-row" *ngFor="let detail of order.orderDetails">
            <div class="order-cell product-promotion">
              {{ detail.productId }} {{ detail.promotionId }}
            </div>
            <div class="order-cell price right-aligned">
              {{ detail.unitPrice }}
            </div>
            <div class="order-cell quantity right-aligned">
              {{ detail.quantity }}
            </div>
          </div>
        </div>

        <div class="order-total">Total: ${{ order.total }}</div>

        <p>Estado del pedido:</p>
        <ol class="ProgressBar">
          <li class="ProgressBar-step is-complete">
            <svg class="ProgressBar-icon">
              <use xlink:href="#checkmark-bold" />
            </svg>
            <span class="ProgressBar-stepLabel">A confirmar</span>
          </li>
          <li
            class="ProgressBar-step"
            [ngClass]="{
              'is-complete': order.state.description != 'A confirmar'
            }"
          >
            <svg class="ProgressBar-icon">
              <use xlink:href="#checkmark-bold" />
            </svg>
            <span class="ProgressBar-stepLabel">En preparacion</span>
          </li>
          <li
            class="ProgressBar-step"
            [ngClass]="{
              'is-complete':
                order.state.description != 'A confirmar' &&
                order.state.description != 'En preparacion'
            }"
          >
            <svg class="ProgressBar-icon">
              <use xlink:href="#checkmark-bold" />
            </svg>
            <span class="ProgressBar-stepLabel">Entregado</span>
          </li>
          <li
            class="ProgressBar-step"
            [ngClass]="{
              'is-complete':
                order.state.description != 'A confirmar' &&
                order.state.description != 'En preparacion' &&
                order.state.description != 'Entregado'
            }"
          >
            <svg class="ProgressBar-icon">
              <use xlink:href="#checkmark-bold" />
            </svg>
            <span class="ProgressBar-stepLabel">Pagado</span>
          </li>
        </ol>
      </ion-card-content>
    </ion-card>
    }
  </div>
</ion-content>
