<ion-item class="custom-input">
  @if (this.icon) {
  <i slot="start" name="add" [class]="icon"> {{ this.iconName }} </i>
  } @if(type === 'file'){
  <ion-item class="image-item">
    <ion-button size="default" class="image-btn" (click)="f.click()">
      <ion-icon
        class="icon-img"
        lazy="true"
        slot="start"
        name="image"
      ></ion-icon>
      <ion-label slot="end">{{ label }}</ion-label>
    </ion-button>
    <input
      class="ion-hide"
      #f
      type="file"
      id="file-input"
      accept="image/png, image/jpeg, image/jpg"
      (change)="onFileSelected($event)"
    />
  </ion-item>
  }@else if(type === 'checkbox'){
  <ion-checkbox [formControl]="control">{{ label }}</ion-checkbox>
  }@else if(type === 'date'){
  <ion-input
    type="date"
    autocomplete="off"
    [label]="label"
    [formControl]="control"
  >
  </ion-input>
  }@else{
  <ion-input
    [type]="type"
    autocomplete="off"
    [label]="label"
    [formControl]="control"
    label-placement="floating"
  >
  </ion-input>
  } @if (this.isPasswords) {
  <ion-button
    (click)="showOrHidePassword()"
    slot="end"
    fill="clear"
    shape="round"
  >
    <ion-icon
      slot="icon-only"
      [name]="hide ? 'eye-outline' : 'eye-off-outline'"
    ></ion-icon>
  </ion-button>
  }
</ion-item>
<ion-label *ngIf="imageUploaded" class="sc-ion-input-md-h file-upload"
  >Imagen cargada con éxito</ion-label
>
