<div class="usersListContainer">
  @if(!loading){
  <h1 class="section-title-p">Reservas</h1>
  <div class="actionsContainer">
    <app-search
      class="search-input"
      id="search-filter"
      (searchChanged)="filterOrders($event)"
      placeholder="Buscar reserva..."
    ></app-search>

    <button class="buttonAdd" [routerLink]="['/booking/day']">
      <ion-icon class="actionIcon" name="calendar-outline"></ion-icon>
    </button>
  </div>
  <app-table
    class="table"
    [columns]="columns"
    [data]="data"
    [loading]="loading"
  />
  <div class="pagination">
    <app-pagination
      [currentPage]="pageIndex"
      [totalPages]="totalPages"
      [limit]="pageSize"
      (changePage)="onPageChanged($event)"
    />
  </div>
  }
</div>
