<ion-content>
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title
          ><h1>{{ formTitle }}</h1></ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <app-form
          [form]="form"
          [fields]="formFields"
          [buttons]="myButtons"
          [validationConfig]="validationConfig"
          (formSubmit)="submit($event)"
        >
        </app-form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
