<ion-content class="prom-form" [scrollY]="mobileScreen ? 'true' : 'false'">
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title
          ><h1>{{ formTitle }}</h1></ion-card-title
        >
      </ion-card-header>
      <ion-card-content class="prom-content">
        <app-form
          [form]="form"
          [fields]="formFields"
          [combos]="comboParam"
          [buttons]="myButtons"
          [editMode]="editMode"
          [validationConfig]="validationConfig"
          (formSubmit)="editMode ? edit($event) : add($event)"
          (formEdit)="setForm($event)"
        >
        </app-form>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="BookingListContainer">
    <app-table
      class="table"
      [columns]="columns"
      [data]="data"
      [loading]="loadingTable"
    />
  </div>
</ion-content>
