<ion-content class="ion-padding-top ion-text-center form-container">
  <ion-avatar>
    @if(user?.avatar){
    <img [src]="imageUrl$ | async" />
    }@else{
    <ion-icon class="empty-icon" name="person-circle-outline"></ion-icon>
    }
  </ion-avatar>

  <ion-button mode="ios" class="photo-btn" size="small" shape="round">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>

  <h1>{{ user?.name }}</h1>
  <p>Email: {{ user?.email }}</p>
  <p>Telefono: {{ user?.tel }}</p>

  <ion-button
    class="edit-btn"
    mode="ios"
    size="small"
    shape="round"
    (click)="editProfile()"
  >
    <ion-icon slot="start" name="person-outline"></ion-icon>
    <ion-label> Editar Perfil</ion-label>
  </ion-button>
</ion-content>
